body {
  font-family: "Ropa Sans", sans-serif;
  color: #333;
  /* max-width: 90%;
  margin: 0 auto; */
  position: relative;
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
}

/* Scanner animation */
.preloader-scan .laser {
  width: 100%;
  background-color: tomato;
  height: 2px;
  box-shadow: 0 0 4px red;
  -webkit-animation: scanning 2s infinite;
  animation: scanning 2s infinite;
  position: relative;
  z-index: 2;
}
.preloader-scan .diode {
  -webkit-animation: beam 0.01s infinite;
  animation: beam 0.01s infinite;
}

@-webkit-keyframes beam {
  50% {
    opacity: 0;
  }
}

@keyframes beam {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes scanning {
  50% {
    -webkit-transform: translateY(70vh);
    transform: translateY(70vh);
  }
}
@keyframes scanning {
  50% {
    -webkit-transform: translateY(70vh);
    transform: translateY(70vh);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 980px) {
  .embed-responsive {
    height: 100vh;
  }

  .menu-bar {
    position: absolute;
    bottom: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 981px) {
  body {
    max-width: 80%;
    margin: 0 auto;
  }
  .embed-responsive {
    height: 70vh;
  }
}

/* TESTING HELPER */
.qrcode {
  position: fixed;
  bottom: 0;  
  display: none;
}
